In [14]:
import numpy as np
import pandas as pd

ddg_df = pd.read_csv("data/wildtype_structure_prediction_af2.ddg.txt", sep=' ').drop(["#chain", "ddG", ">0", "is", "stable,", "<0", "is.1", "unstable)"], axis=1)
ddg_df = ddg_df.rename({"(kcal/mol,":"ddg"}, axis=1)
ddg_df

     WT  ResID Mut    ddg
0     V      1   A -0.119
1     V      1   R -0.132
2     V      1   N -0.155
3     V      1   D -0.158
4     V      1   C -0.162
...  ..    ...  ..    ...
4194  K    221   S -1.523
4195  K    221   T -2.530
4196  K    221   W -1.325
4197  K    221   Y -1.250
4198  K    221   V -2.281

[4199 rows x 4 columns]

In [15]:
test_df = pd.read_csv('data/test.csv')
test_df

,seq_id,protein_sequence,pH,data_source
0,31390,VPVNPEPDATSVENVAEKTGSGDSQSDPIKADLEVKGQSALPFDVD...,8,Novozymes
1,31391,VPVNPEPDATSVENVAKKTGSGDSQSDPIKADLEVKGQSALPFDVD...,8,Novozymes
2,31392,VPVNPEPDATSVENVAKTGSGDSQSDPIKADLEVKGQSALPFDVDC...,8,Novozymes
3,31393,VPVNPEPDATSVENVALCTGSGDSQSDPIKADLEVKGQSALPFDVD...,8,Novozymes
4,31394,VPVNPEPDATSVENVALFTGSGDSQSDPIKADLEVKGQSALPFDVD...,8,Novozymes
...,...,...,...,...
2408,33798,VPVNPEPDATSVENVILKTGSGDSQSDPIKADLEVKGQSALPFDVD...,8,Novozymes
2409,33799,VPVNPEPDATSVENVLLKTGSGDSQSDPIKADLEVKGQSALPFDVD...,8,Novozymes
2410,33800,VPVNPEPDATSVENVNLKTGSGDSQSDPIKADLEVKGQSALPFDVD...,8,Novozymes
2411,33801,VPVNPEPDATSVENVPLKTGSGDSQSDPIKADLEVKGQSALPFDVD...,8,Novozymes
2412,33802,VPVNPEPDATSVENVWLKTGSGDSQSDPIKADLEVKGQSALPFDVD...,8,Novozymes